extends email_template

block content
    p Se ha registrado un nuevo profesor. Deberá validarlo para que pueda aparecer en las búsquedas de los alumnos. Estos son sus datos:
    ul(style="list-style: square")
        li(style="padding-bottom: 4px;")
            strong Nombre:
            |
            | #{nombreCompleto}
        li(style="padding-bottom: 4px;")
            strong Rama:
            |
            | #{nombreRama}
        li(style="padding-bottom: 4px;")
            strong Id:
            |
            | #{id}
    div(style="text-align: center; padding-bottom: 14px;")
        a.button(style="font-weight: 800; text-decoration: none; display: inline-block; padding: 8px; color: #27272a; padding: 8px;border: 1px solid #27272a; border-radius: 8px;", href=url) Validar

//- Estilos inline, intentando que se apliquen en clientes de email online de gmail, hotmail, yahoo...