doctype html
html
    head
        meta(charset="UTF-8")
        title Email de appTeacher
        style.            
            .button:hover {
                background-color: #d4d4d8;
            }
    body(style="font-family: sans-serif, Arial; color: #27272a; margin: 0; margin-left: 16px; margin-right: 16px;")
        header(style="padding-top: 8px; padding-bottom: 8px; border-bottom: 1px solid #d4d4d8;")
            h2 appTeacher
        main
            article
                block content                
        footer(style="border-top: 1px solid #d4d4d8;")
            p(style="text-align: center; font-weight: 800; padding-top: 6px; padding-bottom: 6px;") TFM - Máster Full Stack Developer - Grupo C

//- Estilos inline, intentando que se apliquen en clientes de email online de gmail, hotmail, yahoo...