<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Recuperar clave - TFM - Máster Full Stack Developer - Grupo C">    
    <meta name="author" content="Mariano Jiménez Frías">
    <title>Nuevo password</title>

    <link rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="/stylesheets/newpassword.css" rel="stylesheet">
</head>

<body class="text-center">
    <main class="form-signin w-100 m-auto">
        <form id="new-password-form" class="needs-validation" action="{{url}}" method="post" novalidate>
            <h1 class="h3 mb-3 fw-normal">Nuevo password</h1>

            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword1" name="password" placeholder="Password" required>
                <label for="floatingPassword">Password</label>
                <div class="invalid-feedback">
                    Debe introducir el password (mínimo 6 caracteres).
                </div>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword2" placeholder="Repita Password"
                    required>
                <label for="floatingPassword">Repita password</label>
                <div class="invalid-feedback">
                    Debe repetir el password.
                </div>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Enviar</button>

            <p class="mt-5 mb-3 text-muted">&copy; appTeacher</p>

            <input type="hidden" name="token" value="{{token}}">
            <input type="hidden" name="id"    value="{{id}}">
        </form>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script src="/javascripts/newpassword.js"></script>
</body>

</html>
